header {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    height: auto;
  }
  .home-card {
    
      width: 40%;
      align-items: center;
      position: absolute;
      top: 70%;
      left: 50%;
      transform:translate(-50%,-67%);
      padding-top: 20px;
      padding-bottom: 20px;
      background:white;
      border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  .home-card h1{
      font-size: 3rem;
      color:black;
  }
  .home-card input{
      width:90%;
      padding:1rem;
      margin:8px 0px;
      border:none;
      border-bottom:1px solid black;
      font-size: 1.5rem;
      background: rgba(0, 0, 0, 0.08);
      
      outline:none;
      
  }
  .home-card [class="radiosys"]{
    margin-top: 0.5%;
    width: 90%;
    margin-bottom: 0.5%;
    text-align: left;
    
    padding: 2%;
    background:rgb(238, 235, 235);
    margin-right:5%;
    margin-left: 5%;

}

.home-card span{
    font-size: 30px;
}
.home-card input[type="radio"]{
    width:10%;
    height: 1.5rem;
   display: inline;
    
}
.home-card option{
    width: 90%;
}
.home-card select{
    width:90%;
    padding:1rem;
    font-size: 1rem;
    margin:7px 0px;
    background: rgba(0, 0, 0, 0.08);

}
.home-card button{
    
    padding:15px;
    width:30%;
    margin-top: 15px;
    
    color:1px solid black;
}
.home-card button:hover{
    transform: scale(1.1);
    background:blue;
}
  @media (max-width: 1200px) {
    .home-card {
      padding-top: 5%;
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        align-items: center;
      top: 10%;
      left: 0%;
      transform: translate(0%, 0%);
      height: 90%;
      width: 100%;
    }
    
  }
  