
nav{ 

    background: #007bff;
    
    height:10vh;
    
    width:100%;
    min-height: 10vh;
}
label.logo{
    color:white;
    font-size: 6vh;
    line-height: 8vh;
    padding:0 5vw;
}
nav ul{
    float:right;
    margin-right: 3vw;;
}
nav ul li {
    display:inline-block;
    margin: 0 1vw;
    line-height: 10vh;
    color:white;
    font-size: 2.4vh;
    text-transform: uppercase;
}

nav ul li:hover{
    background:#1b9bff;
    height:5vh;
    line-height: 5vh;
    transition: 0.5s;
}

.checkbtn{
      /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);
    float:right;
    font-size:6vh;
    color: aliceblue;
   
    margin-right: 5vw;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
@media (max-width:1020px){
    label.logo{
        font-size: 5vh;
        padding-left: 3vw;
    }
    nav ul li a{
        font-size:2.4vh ;
    }
}
@media (max-width: 1200px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height:90vh;
        background: #2c3e50;
        top:10vh;
        left:-100%;
        transition:all .5s ;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 5vh 0;
        line-height:10vh;
    }
    nav ul li a{
        font-size:5vh;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:0%;
        z-index: 100;
    }

}